@use "../../assets/styles/mixins" as mixin;
.top {
  max-width: 1000px;
  color: var(--white-100);
  align-items: center;
  @include mixin.sm-lt {
    width: 100%;
  }

  .titlePrincipal {
    margin-top: 150px;
    font-size: 157px;

    @include mixin.lg-lt {
      margin-top: 110px;
      font-size: 96px;
    }
    @include mixin.xs {
      margin-top: 130px;
      font-size: 48px;
    }
  }

  .blocPrincipal {
    .blocText {
      margin: auto;
      align-items: start;
    }
    @include mixin.sm-lt {
      flex-direction: column;
      // padding-left: 20px;
      // padding-right: 20px;
    }
  }
  .blocPrincipal {
    align-items: self-start;
    gap: 65px;
    margin-top: 80px;

    @include mixin.lg-lt {
      gap: 30px;
    }

    @include mixin.sm-lt {
      width: 90%;
    }

    @include mixin.xs {
      margin-top: 40px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .avatar {
      max-width: 100%;
      border-radius: 110px 0 0 0;

      @include mixin.sm-lt {
        width: 100%;
      }
    }
  }

  .blocText {
    .job,
    .specialisation {
      font-size: 48px;

      @include mixin.lg-lt {
        font-size: 40px;
      }
      @include mixin.sm-lt {
        font-size: 34px;
      }
    }

    .job {
      @include mixin.sm-lt {
        margin-top: 50px;
      }
    }

    .specialisation {
      font-family: Acorn ExtraLight;
      @include mixin.sm-lt {
        font-size: 34px;
      }
    }

    .indications {
      padding-top: 22px;
      font-size: 22px;
      font-family: GT Planar;
      color: var(--white-66);
      max-width: 718px;
      line-height: 168%;

      @include mixin.lg-lt {
        max-width: 500px;
        font-size: 20px;
      }

      @include mixin.sm-lt {
        width: 100%;
      }
    }
  }
}

.itemList {
  max-width: 400px;
  margin: auto;
  margin-top: 100px;

  @include mixin.sm-lt {
    width: 90%;
  }

  @include mixin.xs {
    margin-top: 50px;
  }

  .one,
  .two {
    margin-bottom: 40px;
    flex-direction: column;
    gap: 40px;

    .itemChildren {
      color: var(--white-100);
      justify-content: space-between;

      .rightbloc {
        font-family: GT planar;
      }
    }
    .small {
      width: 100%;
    }

    .big {
      width: 600px;
      @include mixin.lg-lt {
        width: 512px;
      }
      // @include mixin.lg-lt {
      //   width: 100%;
      // }
    }

    .small,
    .big {
      @include mixin.sm-lt {
        max-width: 100%;
      }
    }

    .left {
      max-width: 140px;
      font-size: 20px;
    }
    .rightbloc {
      font-size: 24px;
    }

    .right {
      font-size: 24px;
      @include mixin.xl {
        display: flex;
      }
      @include mixin.lg-lt {
        display: flex;
      }
      @include mixin.xs {
        display: none;
      }
    }

    .gost {
      @include mixin.xl {
        display: none;
      }
      @include mixin.lg-lt {
        display: none;
      }
      @include mixin.xs {
        display: flex;
      }
    }

    .left,
    .right {
      font-family: GT Planar;
    }
  }
  .one {
    align-items: flex-end;
  }
  .two {
    align-items: flex-start;
  }
}

.middle {
  color: var(--white-100);
  margin-top: 150px;
  align-items: center;

  @include mixin.lg-lt {
    margin-top: 50px;
  }

  @include mixin.xs {
    margin-top: 10px;
  }

  .middleTitle {
    font-size: 157px;

    @include mixin.lg-lt {
      font-size: 96px;
    }

    @include mixin.sm-lt {
      font-size: 48px;
    }
  }

  .middleIndications {
    font-size: 22px;
    font-family: GT Planar;
    max-width: 700px;
    color: var(--white-66);
    // text-align: center;
    line-height: 158%;
    margin-top: 20px;

    @include mixin.sm-lt {
      font-size: 20px;
      width: 90%;
    }
  }
}

.competenceList {
  margin-top: 100px;
  max-width: 1384px;
  padding: 100px;
  background-color: var(--white-28);
  border-radius: 0px 18px 18px 18px;
  color: var(--white-100);

  @include mixin.lg-lt {
    margin-top: 50px;
    padding: 50px;
  }
  @include mixin.sm-lt {
    // padding: 20px;
    border-radius: 0;
  }
  @include mixin.xs {
    padding: 20px;
  }

  .languagesOutils {
    justify-content: space-between;
    border-bottom: solid 1px var(--white-50);
    @include mixin.lg-lt {
      flex-direction: column;
    }

    .unitLogosOutils {
      @include mixin.lg-lt {
        margin-top: 50px;
      }
    }
  }

  .titleCompetence {
    font-size: 24px;
  }

  .textCompetence,
  .textOutil {
    font-size: 20px;
    font-family: GT Planar;
    color: var(--white-66);
    padding-top: 15px;
    line-height: 158%;
  }

  .textCompetence {
    padding-right: 50px;

    @include mixin.xs {
      padding-top: 10px;
    }
  }

  .firstPart {
    width: 40%;
    padding-top: 30px;
    align-items: center;
    gap: 200px;

    @include mixin.lg-lt {
      width: 100%;
      padding-right: 60px;
    }

    @include mixin.xs {
      padding-top: 50px;
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
    }
  }

  .firstColumn {
    width: 100px;

    .unitLogosCompetence {
      text-align: start;
      margin-bottom: 10px;
    }
  }

  .logosCompetence,
  .logosOutils {
    max-width: 500px;
    flex-wrap: wrap;
    padding-top: 30px;
    align-items: flex-start;

    .unitLogosCompetence,
    .unitLogosOutil {
      text-align: start;
      margin-bottom: 10px;
    }
  }

  .logosOutils {
    gap: 10px;
  }

  .finalZoneCompetence {
    margin-top: 50px;
    width: 100%;
    justify-content: space-between;
    @include mixin.lg-lt {
      flex-direction: column;
      gap: 50px;
    }

    .finalCompetence {
      max-width: 628px;
      font-family: GT Planar;
      font-size: 20px;
      color: var(--white-66);
    }

    .browseProjet {
      align-items: center;
      justify-content: center;
      width: 200px;
      text-decoration: none;

      border-style: none;
      flex-wrap: nowrap;
      // max-width: 259px;
      height: 58px;
      border-radius: 50px;

      background-color: var(--primary);

      align-items: center;
      cursor: pointer;
      margin: auto;

      @include mixin.lg-lt {
        margin-top: 0;
      }

      button {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        font-size: 20px;
        font-family: GT Planar;
        color: white;

        cursor: pointer;
        outline: none; /* Supprime la bordure lorsqu'il est en focus */
        /* Autres styles personnalisés que vous souhaitez ajouter */
      }
    }
  }
}

.transitionText {
  padding-top: 100px;
  max-width: 700px;
  font-family: GT Planar;
  font-size: 36px;
  color: var(--white-100);
  line-height: 158%;
  // padding-left: 20px;
  // padding-right: 20px;
  @include mixin.lg-lt {
    padding-top: 50px;
    font-size: 32px;
  }
  @include mixin.sm-lt {
    width: 90%;
  }
  @include mixin.xs {
    font-size: 24px;
  }
}

.brik {
  width: 100%;
  flex-wrap: wrap;
  margin-top: 100px;
  color: var(--white-100);
  gap: 40px;
  @include mixin.lg-lt {
    margin-top: 50px;
    flex-direction: column;

    align-items: center;
  }
  @include mixin.sm-lt {
    gap: 0;
    border-radius: 0;
  }

  .styleBrik {
    max-height: 666px;
    border-radius: 0px 18px 18px 18px;
    background-color: var(--white-28);
    padding: 80px;

    @include mixin.sm-lt {
      border-radius: 0;
    }
  }

  .middleGrow {
    width: calc(50% - 20px);
    @include mixin.lg-lt {
      width: 100%;
    }
    @include mixin.sm-lt {
      padding: 30px;
    }
    @include mixin.xs {
      padding: 20px;
    }
  }

  .number,
  .titleBrik {
    color: var(--primary);
    font-size: 64px;

    @include mixin.lg-lt {
      font-size: 55px;
    }
    @include mixin.lg-lt {
      font-size: 34px;
    }
  }

  .titleBrik {
    margin-top: 20px;
  }

  .number {
    font-family: Acorn ExtraLight;
  }

  .textBrik {
    line-height: 158%;
    margin-top: 50px;
    font-family: GT Planar;
    font-size: 24px;
    color: var(--white-77);

    @include mixin.lg-lt {
      margin-top: 20px;
      width: 90%;
    }
  }

  .grow {
    border-radius: 0px 18px 18px 18px;
    background-color: var(--white-28);
    padding: 80px;
    display: flex;
    flex-direction: row;
    // max-height: 666px;
    width: 100%;
    gap: 50px;

    @include mixin.lg-lt {
      flex-direction: column;
      justify-content: center;
    }

    @include mixin.sm-lt {
      border-radius: 0;
      padding: 30px;
    }
    @include mixin.xs {
      padding: 20px;
    }

    .textBrik {
      margin-top: 0;
    }
  }
}

.conclusion {
  max-width: 700px;
  line-height: 158%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 100px;
  color: var(--white-100);
  font-size: 36px;
  font-family: GT Planar;

  @include mixin.lg-lt {
    margin-top: 50px;
    font-size: 32px;
  }
  @include mixin.sm-lt {
    width: 90%;
  }
  @include mixin.xs {
    font-size: 24px;
  }
}

.localisation {
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: center;
  gap: 50px;
  width: 100%;
  @include mixin.lg-lt {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  @include mixin.xs {
    gap: 5px;
  }
  @include mixin.md-lt {
    flex-direction: column;
  }

  @include mixin.xs {
    gap: 5px;
  }

  .eglise,
  .decor {
    justify-content: space-between;
    width: 100%;

    @include mixin.sm-lt {
      flex-direction: column;
    }
  }

  .decor {
    gap: 50px;
    @include mixin.xs {
      gap: 5px;
    }
  }
}
