@use "../../assets/styles/mixins" as mixin;

.top {
  color: var(--white-100);

  .titlePrincipal {
    margin-top: 80px;
    font-size: 157px;

    @include mixin.lg-lt {
      margin-top: 40px;
      font-size: 96px;
    }
    @include mixin.sm-lt {
      margin-top: 40px;
      font-size: 48px;
    }
  }

  .job {
    margin-top: 20px;
  }

  .job,
  .specialisation {
    font-size: 48px;

    @include mixin.lg-lt {
      font-size: 40px;
    }
    @include mixin.sm-lt {
      font-size: 34px;
    }
  }

  .specialisation {
    font-family: Acorn ExtraLight;
    @include mixin.sm-lt {
      font-size: 34px;
      font-family: Acorn;
    }
  }

  .indications {
    font-size: 28px;
    font-family: gt planar;
    color: var(--white-66);
    max-width: 718px;
    // color: var(--white-66);
    text-align: center;
    line-height: 158%;

    @include mixin.lg-lt {
      max-width: 500px;
      font-size: 18px;
    }

    @include mixin.sm-lt {
      max-width: 318px;
    }
  }
}

.presentationInFour {
  margin-top: 100px;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;


  .dark {
    background-color: var(--white-0);
    color: white;
  }

  .ligth {
    background-color: var(--white-84);
    color: black;
  }
}

.middle {
  color: var(--white-100);
  margin-top: 100px;

  .middleTitle {
    font-size: 157px;

    @include mixin.lg-lt {
      font-size: 96px;
    }

    @include mixin.sm-lt {
      font-size: 48px;
    }
  }

  .middleIndications {
    font-size: 28px;
    font-family: gt planar;
    max-width: 718px;
    color: var(--white-66);
    text-align: center;

    @include mixin.sm-lt {
      font-size: 20px;
    }
  }
}

.finalParagraph {
  color: var(--white-66);
  line-height: 158%;
  font-family: gt planar;
  font-size: 36px;
  max-width: 718px;
  margin-top: 200px;
  margin-bottom: 300px;
  @include mixin.sm-lt {
    font-size: 24px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
