@use "../assets/styles/mixins" as mixin;

.footer {
  // min-height: 605px;
  background-color: var(--white-0);
  color: var(--white-100);
  padding: 100px 0 100px 0;

  .titleLink {
    color: var(--white-50);
    font-family: GT Planar;
    font-size: 22px;
    // @include mixin.xs {
    //   font-size: 22px;
    // }
  }
  a {
    text-decoration: none;
    color: white;
    line-height: 50px;
    font-family: GT Planar;
    font-size: 22px;
  }
  .container {
    // position: relative;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    padding: 0 50px;
    @include mixin.sm-lt {
      padding: 0 20px;
    }
    .linkText {
      gap: 150px;
      padding-right: 100px;
      @include mixin.md-lt {
        padding-right: 50px;
        gap: 50px;
      }
      @include mixin.xs {
        flex-direction: column;
      }
    }
  }

  .icon {
    font-size: 48px;
    line-height: 33px;
  }

  .connections {
    // border: 3px solid red;
    width: 380px;
    flex-wrap: wrap;
    height: 240px;
    // margin-left: 400px;
    // margin-top: -50px;
    line-height: 50px;
    font-family: GT Planar;
    font-size: 22px;
    li {
      display: block;
      width: 150px;
    }
  }

  .containerLinkFoot {
    // position: absolute;

    padding-top: 0px;
    gap: 15px;
    @include mixin.md-lt {
      flex-direction: column;
    }
  }
  .containerLinkFoot img,
  a {
    width: 40px;
    height: 40px;
    @include mixin.xs {
      width: 20px;
    }
  }

  .copyrigth {
    font-size: 20px;
    max-width: 1440px;
    width: 100%;
    margin: auto;
    padding: 200px 0px 0px 50px;
    font-family: GT Planar;
  }
}
