@use "../assets/styles/mixins" as mixin;


.footer {
  height: 605px;
  background-color: var(--white-0);
  color: var(--white-100);
  padding: 100px 0 100px 0;

  .titleLink {
    color: red;
    font-family: gt planar;
    font-size: 22px;
  }
  a {
    text-decoration: none;
    color: white;
    line-height: 50px;
    font-family: gt planar;
    font-size: 22px;
  }
  .container {
    // position: relative;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;

    .linkText{
      gap: 50px;
      padding-right: 200px;
      @include mixin.md-lt {
        padding-right: 50px;
        
      }
      @include mixin.xs {
        flex-direction: column;
        
        
      }
    }
  }

  .icon {
    font-size: 48px;
  }

  .connections {
    // border: 3px solid red;
    width: 380px;
    flex-wrap: wrap;
    height: 240px;
    // margin-left: 400px;
    // margin-top: -50px;
    line-height: 50px;
    font-family: gt planar;
    font-size: 22px;
    li {
      display: block;
      width: 150px;

    }
  }

  .containerLinkFoot {
    // position: absolute;
    padding-top: 0px;
    gap: 15px;
    @include mixin.md-lt {
      flex-direction: column;
    }
    
  }

  .copyrigth {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    padding: 0 50px;
    font-family: gt planar;
  }
}
