@use "../assets/styles/mixins" as mixin;


.link{
    width: 72px;
    height: 72px;
    background-color: white;
    border-radius: 50%;
    padding: 0;
    @include mixin.xs {
      width: 47px;
      height: 47px;
    }
  }