@use "../assets/styles/mixins" as mixin;

.box {
  position: relative;
  width: 48%;
  height: 640px;
    background-color: var(--white-84);
  border: 1px solid black;
  overflow: hidden;
  text-decoration: none;

  @include mixin.md-lt {
    width: 100%;
  }

  @include mixin.xs {
    height: 503px;
  }

  .formation {
    padding-top: 50px;
    color: var(--white-66);
  }

  .title {
    font-size: 48px;
  }

  .knowMore {
    color: var(--primary);
    padding-top: 20px;
  }

  .phoneBlack {
    padding-top: 50px;

    @include mixin.xs {
      // padding-top: 50px;
      width: 70%;
    }
  }
}
