* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "acorn", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4{
  margin: 0;
}

ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
}







