* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Acorn";
  src: url("../fonts/ACORN-SEMIBOLD.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Acorn extralight";
  src: url("../fonts/ACORN-EXTRALIGHT.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GT Planar";
  src: url("../fonts/GT.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: auto;
  font-family: "Acorn", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
p {
  font-family: Acorn;
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

#root {
  // width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
}

main {
  flex-grow: 1;
}
