.p5 {
  padding: 5px;
}

.p10 {
  padding: 10px;
}

.p20 {
  padding: 20px;
}

.p30 {
  padding: 30px;
}

.mr-5 {
  margin-right: 5px;
}
.m5 {
  margin: 5px;
}
.p5 {
  padding: 5px;
}

.mr15 {
  margin-right: 15px;
}

.m10 {
  margin: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.hidden {
  display: none;
}
