:root {
    --white-12: #1E1E1E;
    --primary: #E61D2A;
    --white-100: #FFFFFF;
    --white-77: #C3C3C3;
    --white-50: #7E7E7E;
    --white-28: #484848;
    --white-18: #2F2F2F;
    --white-12: #1E1E1E;
    --white-0: #000000;
    --danger: #ED6A5E;
    --success: #61C454;
    --warning: #F4BD50;
    --info: #65BEDA;
    --purple: #B386D7;
    --white-66: #A8A8A8;
    --white-84: #D7D7D7;
}